body {
  padding: 0%;
  margin: 0%;
  background-color: #ffffff62;
}

.parent {
  display: grid;
  justify-content: start;
  grid-gap: 5px;
  height: 100vh;
  grid-template: auto/300px 1fr;
  grid-template-areas: "menuChoeces content" "menuChoeces content";
}
.parent .menuChoeces {
  background-color: #283237;
  grid-area: menuChoeces;
}
.parent .menuChoeces .calChoices {
  border: 2px solid #868686;
  border-right: 0px;
  border-left: 0px;
}
.parent .menuChoeces .calChoices label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: #c8cbcd;
}
.parent .menuChoeces .calChoices label:hover {
  border-bottom: 2px solid #000;
}
.parent .menuChoeces .calChoices .calChoicesH2 {
  text-align: center;
  cursor: default;
  color: #c8cbcd;
}
.parent .menuChoeces .calChoices .mountingEyeCalc, .parent .menuChoeces .calChoices .employeeTimesheet {
  margin: 10px 10px 5px 10px;
  width: 290px;
  height: 45px;
  text-align: left;
  text-indent: 50px;
  color: #c8cbcd;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 32px 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.5s;
  transition: background-size 0.3s;
  transition-timing-function: linear;
}
.parent .menuChoeces .calChoices .mountingEyeCalc:hover, .parent .menuChoeces .calChoices .employeeTimesheet:hover {
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 10px;
  color: #000000;
  background-size: 32px 32px;
}
.parent .menuChoeces .calChoices .mountingEyeCalc:focus, .parent .menuChoeces .calChoices .employeeTimesheet:focus {
  background: #f5f5f5;
  background-repeat: no-repeat;
  color: #000000;
  background-position: 10px;
  background-size: 40px 40px;
}
.parent .menuChoeces .calChoices #studCalc {
  display: none;
  background-image: url("../IMG/ICO/Stud_Calculator.ico");
}
.parent .menuChoeces .calChoices #studCalc:checked + label {
  border-bottom: 2px solid #3498db;
  cursor: default;
}
.parent .menuChoeces .calChoices #studCalc:hover {
  background-image: url("../IMG/ICO/Stud_Calculator.ico");
}
.parent .menuChoeces .calChoices #studCalc:focus {
  background-image: url("../IMG/ICO/Stud_Calculator.ico");
}
.parent .menuChoeces .calChoices .mountingEyeCalc {
  background-image: url("../IMG/ICO/Calculation_Eyelets.ico");
}
.parent .menuChoeces .calChoices .mountingEyeCalc:hover {
  background-image: url("../IMG/ICO/Calculation_Eyelets.ico");
}
.parent .menuChoeces .calChoices .mountingEyeCalc:focus {
  background-image: url("../IMG/ICO/Calculation_Eyelets.ico");
}
.parent .menuChoeces .employeeTimesheet {
  margin: 10px 10px 5px 10px;
  width: 290px;
  height: 45px;
  text-align: left;
  text-indent: 50px;
  color: #c8cbcd;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 32px 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.5s;
  transition: background-size 0.3s;
  transition-timing-function: linear;
}
.parent .menuChoeces .employeeTimesheet:hover {
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 10px;
  color: #000000;
  background-size: 32px 32px;
}
.parent .menuChoeces .employeeTimesheet:focus {
  background: #f5f5f5;
  background-repeat: no-repeat;
  color: #000000;
  background-position: 10px;
  background-size: 40px 40px;
}
.parent .menuChoeces .employeeTimesheet {
  background-image: url("../IMG/ICO/Time_machine.ico");
}
.parent .menuChoeces .employeeTimesheet:hover {
  background-image: url("../IMG/ICO/Time_machine.ico");
}
.parent .menuChoeces .employeeTimesheet:focus {
  background-image: url("../IMG/ICO/Time_machine.ico");
}
.parent .menuChoeces .assistantDesignerH2 {
  margin: 50px 5px 50px 5px;
  padding: 10px;
  text-align: center;
  color: #c8cbcd;
  background: linear-gradient(45deg, #566b75, #283237, #566b75);
  cursor: default;
  box-shadow: 5px 5px 8px 1px #888888b2;
}
.parent .content {
  grid-area: content;
  background-color: #f5f5f5;
}/*# sourceMappingURL=MainMenu.css.map */